version: '3.8'

services:
  auth-service:
    build: ./auth-service
    ports:
      - "3001:3001"

  booking-service:
    build: ./booking-service
    ports:
      - "3002:3002"

  fleet-service:
    build: ./fleet-service
    ports:
      - "3003:3003"

  payment-service:
    build: ./payment-service
    ports:
      - "3004:3004"

  api-gateway:
    build: ./api-gateway
    ports:
      - "3000:3000"
    depends_on:
      - auth-service
      - booking-service
      - fleet-service
      - payment-service
